


<div class="flex-container" >

    <mat-card class="input-card" ><!--Card with input field for fluid properties-->

        <mat-card-header class="welcomeheader" >
            <mat-card-title>What's your desired separation?</mat-card-title>
            <mat-card-subtitle class="infotext">Please ony enter a separation within the bounds of what your spintest achieved.</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">

        <mat-card-content>
                      
            <div class="form-content">
                <form [formGroup]="the_input" (submit)="submit_your_data()">  
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Criteria in %</mat-label>
                        <input type="number" matInput formControlName="criteria" >
                    </mat-form-field>
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Capacity KQ, if available</mat-label>
                        <input type="number" matInput formControlName="KQ"  >
                    </mat-form-field>
      

                    <button mat-raised-button color="primary" type="submit" >
                       Submit your data
                    </button>


                </form>
            </div>
        
        </mat-card-content>
    </mat-card>



    <div *ngIf="show_results" ><!--Here we should have a *ngIf="show_results"-->
        <mat-card class="input-card" ><!--Card that appears only when button "Create Graph" is pressed-->

            <mat-card-header>
               
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="chart-wrapper">
    
                <div>

                    <canvas baseChart 
                        [datasets]="ChartData" 
                  
                        [options]="ChartOptions"
                        [colors]="ChartColors" 
                        [legend]="ChartLegend" 
                        [chartType]="ChartType"
                        [plugins]="ChartPlugins">
                
                    </canvas>
                  
                 
                </div>
            
            </mat-card-content>
        </mat-card>

        <div class="row-container">
            <mat-card class=row><!--Card that appears only when button "Create Graph" is pressed-->

                <mat-card-header>
                    <mat-card-title>Load factor to reach criteria</mat-card-title>
                    <mat-card-subtitle>
                    LF={{Loadfactor}}
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content >
        
                </mat-card-content>
            </mat-card>
        </div>

        
        
    </div>



</div>

