
<div class="entire-page">
    <div class="heading-card">
        <mat-card class="wide-card" style="text-align:center">

            <mat-card-header class="welcomeheader">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title class="cardtitle">Initiate Spintest Calculations</mat-card-title>

            </mat-card-header>

            <img mat-card-image src="assets/images/2Liquids.jpg" alt="Photo of spintest">

            <mat-card-content>
     
            </mat-card-content>
        </mat-card>
    </div>



    <div class="Row-of-cards">
    
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
                <mat-card-header class="welcomeheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="cardtitle" >Find your Q</mat-card-title>
                    <mat-card-subtitle class="equalspace">You already have a separator in mind. 
                        <br>Given its KQ, see a plot of possible flowrates vs separation efficiency.</mat-card-subtitle>
                </mat-card-header>
        
                <img mat-card-image src="assets/images/Slide4.JPG" alt="Photo of spintest">
        
                <mat-card-content class="equalspaceCard">
                    <button mat-button routerLink="/find-q" routerLinkActive="active" >
                        Go
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
                <mat-card-header class="welcomeheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title >Meet a criteria</mat-card-title>
                    <mat-card-subtitle class="equalspace">The effluent need to meet a certain criteria. 
                        <br>Find out the maximum flow possible for different KQ:s that will still meet the criteria.
                    </mat-card-subtitle>
                </mat-card-header>
        
                <img mat-card-image src="assets/images/Slide3.JPG" alt="Photo of spintest">
            
                <mat-card-content class="equalspaceCard">
                    <button mat-button routerLink="/meet-criteria" routerLinkActive="active" >
                        Go
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
                <mat-card-header class="welcomeheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title >Find your size</mat-card-title>
                    <mat-card-subtitle class="equalspace"> Volumetric flow Q is known, and required separator size for different efficienceies are plotted</mat-card-subtitle>
                </mat-card-header>
        
                <img mat-card-image src="assets/images/Slide2.JPG" alt="Photo of spintest">
            
                <mat-card-content class="equalspaceCard">
                    <button mat-button routerLink="/find-capacity" routerLinkActive="active" >
                        Go
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
                
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
                <mat-card-header class="welcomeheader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title >Find your spintimes</mat-card-title>
                    <mat-card-subtitle class="equalspace">Given the KQ of your separator, generate spinning times to find the expected effluent conc. running at [Q1, Q2] m3/h</mat-card-subtitle>
                </mat-card-header>
            
                <img mat-card-image src="assets/images/Slide1.JPG" alt="Photo of spintest">
            
                <mat-card-content class="equalspaceCard">
                    <button mat-button routerLink="/find-spintimes" routerLinkActive="active" >
                        Go
                    </button>
                </mat-card-content>
            </mat-card>
        </div>




    </div>

</div> 

