.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    align-items: center;
}
.Row-of-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}
.testbox{
    border-color: brown;
    border-style:solid;

}
.entire-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0px;
    align-items: center;
}
.equalspace{
    height: 80px;
    font-size: 16px;
    
    
    
}
.nav-card{
    width: 25%;
    height:auto;
    
}

.heading-card{
    width: 60%;
    padding-bottom: 30px;
}
.ErrorMessage{
    color: red;
}
.infotext{
    font-size: 18px;
}
