
<div class="entire-page">
    <div>
    <mat-card class="input-card" style="text-align:center">
    <mat-card-header class="welcomeheader">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title >Explore Extended</mat-card-title>
        <mat-card-subtitle>Initiate Spintest Calculations</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="assets/images/AL-logo.jpg" alt="Photo of spintest">

    <mat-card-content>
        <p>
             Sample
        </p>
    </mat-card-content>
    </mat-card>
    </div>



    <div class="Row-of-cards">
    
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
            <mat-card-header class="welcomeheader">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >Find your KQ or Ae</mat-card-title>
                <mat-card-subtitle>The process flow Q is known, and you want to find what KQ corresponds to what efficiency</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image src="assets/images/separator-capacity.JPG" alt="Photo of spintest">
        
            <mat-card-content>
                <p>
                     Sample content
                </p>
            </mat-card-content>
            </mat-card>
        </div>
        
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
            <mat-card-header class="welcomeheader">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >Meet a criteria</mat-card-title>
                <mat-card-subtitle>The effluent need to meet a certain criteria. 
                    <br>Find out the maximum flow possible for different KQ:s that will still meet the criteria.
                </mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image src="assets/images/separation-criteria.JPG" alt="Photo of spintest">
        
            <mat-card-content>
                <p>
                     Sample content
                </p>
            </mat-card-content>
            </mat-card>
        </div>
        
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
            <mat-card-header class="welcomeheader">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >Find your flow</mat-card-title>
                <mat-card-subtitle>The KQ or Ae is known, and you want to know what flow Q will yield what separation efficiency</mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image src="assets/images/flow.JPG" alt="Photo of spintest">
        
            <mat-card-content>
                <p>
                     Sample content
                </p>
            </mat-card-content>
            </mat-card>
        </div>
                
        <div class="nav-card">
            <mat-card class="input-card" style="text-align:center">
            <mat-card-header class="welcomeheader">
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >Find your spintimes</mat-card-title>
                <mat-card-subtitle>You know your range of possible flows, Q, 
                    <br>and want to run a spin test to see what separation efficiency corresponds to those flows given your KQ. </mat-card-subtitle>
            </mat-card-header>
        
            <img mat-card-image src="assets/images/find-spintimes.JPG" alt="Photo of spintest">
        
            <mat-card-content>
                <p>
                     Sample content
                </p>
            </mat-card-content>
            </mat-card>
        </div>




    </div>

</div> 

