.form-content{
    display: flex;
    justify-content: center;
    flex-direction:column;

}
.nav-link{
    background: transparent;
    padding: 3%;
}
.pretty_table{

     width: 50%;
 
}
.headers{
    display:flex;
    justify-content:flex-end;
   }
.centered-object{
    
    display:flex;
    justify-content: center;

 
}
.mycell{
    text-align: center;

}
.mycell1{
    text-align: center;
    border-right-color:lightgray;
    border-right-style:ridge;
    border-right-width: 1px;
}