
<div class="flex-container" >

<div *ngIf="this._results.equipment_setup_successfully==false">

    <mat-card class="input-card">
        <mat-card-title>
            <br> 
            Equipment not yet set up
            <br> 
        </mat-card-title>
        <mat-card-subtitle>
            <br> 
            In order to calculate how long to spin your samples, you need to input some data about your equipment.
            <br> 
            <a class='nav-link' routerLinkActive='active' [routerLink]="['/input-form']">Go to setup</a>
        </mat-card-subtitle>
        <img mat-card-image src="assets/images/Q-image.jpg">
    
    
    
    
    
    </mat-card>
</div>

<div *ngIf="this._results.equipment_setup_successfully">
    <mat-card class="input-card" ><!--Card with input field for fluid properties-->

        <mat-card-header class="welcomeheader">
            <mat-card-title> Find your Spintimes </mat-card-title>
            <mat-card-subtitle class="infotext">Sometimes, your separator isn't functioning properly. Since both Q and KQ is known, running the spintest calculations backwards
                <br> will yield the spintimes appropriate for your interval of Q. Running a spintest for those spintimes will give you the expected separation of your process.
            
            </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">
  
        <mat-card-content>

            <br>To analyze a different case, simply change the values to your desired flowrates and units and click "submit" again.


            <div >
 
                <br>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                    Choose flow unit
                    
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changeFlowrateUnitChoice('L/h')">Liters per hour</button>
                    <button mat-menu-item (click)="changeFlowrateUnitChoice('m3/h')">Cubic meters per hour</button>
                    <button mat-menu-item (click)="changeFlowrateUnitChoice('barrels/h')">Barrels per hour</button>
                    <button mat-menu-item (click)="changeFlowrateUnitChoice('hL/h')">Hectoliters per hour</button>
                    <button mat-menu-item (click)="changeFlowrateUnitChoice('gpm')">Gallons per minute</button>
                </mat-menu>

            </div>

            <div >
                <button mat-button [matMenuTriggerFor]="menu2">
                    <mat-icon>menu</mat-icon>
                    Ae or KQ? 
                    
                </button>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item (click)="changeSizeUnitChoice('KQ')">KQ</button>
                    <button mat-menu-item (click)="changeSizeUnitChoice('Ae')">Ae</button>
                </mat-menu>

            </div>
                     
                      
 
            <div>
                <form [formGroup]="theInput" (submit)="getSpinTimes()" class="form-content">  
                    
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> The {{this.chosen_size_unit}} of your machine</mat-label>
                        <input type="number" matInput formControlName="KQ" required>
                    </mat-form-field>
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Lowest flow [{{this.chosen_flowrate_unit}}]</mat-label>
                        <input type="number" matInput formControlName="Qmin" required>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Highest flow [{{this.chosen_flowrate_unit}}] </mat-label>
                        <input type="number" matInput formControlName="Qmax" required>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Speed of centrifuge [RPM] </mat-label>
                        <input type="number" matInput formControlName="rpm" required>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" >
                      Submit data for spintime calculation
                    </button>


                </form>
            </div>
        
        </mat-card-content>
    </mat-card>


    <div *ngIf="show_results" class="centered-object" >
        <mat-card class="table-card">
            <mat-card-title>
            Resulting Spintimes
            </mat-card-title>

            <mat-card-subtitle>
            The following spintimes will correspond to spinning your samples for the time specified in the "spintimes" column.
            <br>
            The separation result achieved with these spintimes is the expected result of your process at the specified Flowraterate. 
            </mat-card-subtitle>
       

            <mat-card-content >
    
            <div>
                <table mat-table [dataSource]="tableData">

                    <!-- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                    
                    <!-- Flowrate Column -->
                    <ng-container matColumnDef="Flowrate">
                        <th mat-header-cell class="mycell" *matHeaderCellDef> The Flowrate <br>[{{this._results.separation_result}}] </th>
                        <td mat-cell *matCellDef="let datapoint"> {{datapoint.Flowrate}} </td>
                    </ng-container>
                    
                    <!-- Spintime Column -->
                    <ng-container matColumnDef="spintime">
                        <th mat-header-cell class="mycell"*matHeaderCellDef>The Corresponding Spintime <br> [HH:MM:SS]</th>
                        <td mat-cell *matCellDef="let datapoint"> {{datapoint.spintime}} </td>
                    </ng-container>
                    
                    <tr mat-header-row class="centered" *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
            </div>
        
            </mat-card-content>
        </mat-card>
    </div>







</div>
</div>


