<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="flex-container" >

    <mat-card class="input-card" >

        <mat-card-header class="welcomeheader">
            <mat-card-title> Find your separator size </mat-card-title>
            <mat-card-subtitle class="infotext">Some data is needed to perform the calculation. Knowing what Q will be run through the separator and what interval the
                <br> separation result ({{this._results.separation_result}}) should be in, will yield suggestions of required separator sizes.
            </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">

        <mat-card-content>
            <div >
                Once "Submit" has been clicked, the volumetric flowrate will update to show your flowrate in m3/h. 
                <br>To analyze for a different flowrate, simply change the value to your desired flowrate and unit and click "submit" again.
                <br>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>menu</mat-icon>
                    Choose flow unit
                    
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="changeChosenUnit('L/h')">Liters per hour</button>
                    <button mat-menu-item (click)="changeChosenUnit('m3/h')">Cubic meters per hour</button>
                    <button mat-menu-item (click)="changeChosenUnit('barrels/h')">Barrels per hour</button>
                    <button mat-menu-item (click)="changeChosenUnit('hL/h')">Hectoliters per hour</button>
                    <button mat-menu-item (click)="changeChosenUnit('gpm')">Gallons per minute</button>
                </mat-menu>

            </div>
                      
 
            <div>
                <form [formGroup]="theInput" (submit)="create_graph()" class="form-content">  
                    
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Volumetric flowrate Q [{{this.chosen_unit}}] </mat-label>
                        <input type="number" matInput formControlName="desiredQ" required>
                    </mat-form-field>
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Acceptable lowest {{this._results.separation_result}}. 
                            Below {{this._results.results_spintest[0]}} and above {{this._results.results_spintest[this._results.results_spintest.length-1]}}</mat-label>
                        <input type="number" matInput formControlName="Effluent_conc_low" required>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Acceptable highest {{this._results.separation_result}}. 
                            Below {{this._results.results_spintest[0]}} and above {{this._results.results_spintest[this._results.results_spintest.length-1]}} </mat-label>
                        <input type="number" matInput formControlName="Effluent_conc_high" required>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" >
                       Create Graph
                    </button>


                </form>
            </div>
        
        </mat-card-content>
    </mat-card>

    <div *ngIf="show_results" ><!--Section appearing when button clicked-->
        <div class="row-container">
            <mat-card class="row" ><!--Card that appears only when button "Create Graph" is pressed-->

                <mat-card-header>
                    <mat-card-title>Load factor 1  </mat-card-title>
                    <mat-card-subtitle>
                       For end concentraiton {{conc1}}%, LF={{Loadfactor1}} [L/h*KQ]
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="LF-shower">
        
                </mat-card-content>
            </mat-card>

            <mat-card class="row" ><!--Card that appears only when button "Create Graph" is pressed-->
                <mat-card-header>
                    <mat-card-title>Load factor 2  </mat-card-title>
                    <mat-card-subtitle>
                        For end concentraiton {{conc2}}%, LF={{Loadfactor2}} [L/h*KQ]
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="LF-shower">
    
                </mat-card-content>
            </mat-card>

            <mat-card class="row" ><!--Card that appears only when button "Create Graph" is pressed-->

                <mat-card-header>
                    <mat-card-title>Load factor 3  </mat-card-title>
                    <mat-card-subtitle>
                        For end concentraiton {{conc3}}%, LF={{Loadfactor3}} [L/h*KQ]
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="LF-shower">
        
                </mat-card-content>
            </mat-card>
        </div>



        <mat-card class="input-card" ><!--Card that appears only when button "Create Graph" is pressed-->

            <mat-card-header>
                
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content class="chart-wrapper">
    
                <div>

                   
                    <canvas baseChart 
                        [datasets]="ChartData1" 
                  
                        [options]="ChartOptions1"
                        [colors]="ChartColors" 
                        [legend]="ChartLegend" 
                        [chartType]="ChartType"
                        [plugins]="ChartPlugins">
                
                    </canvas>
                    <div>
                        <br>
                        <br>
                        <br>
                    
                    </div>
                    <canvas baseChart 
                    [datasets]="ChartData2" 
                    [options]="ChartOptions2"
                    [colors]="ChartColors" 
                    [legend]="ChartLegend" 
                    [chartType]="ChartType"
                    [plugins]="ChartPlugins">
            
                </canvas>
                    
                 
                </div>
            
            </mat-card-content>
        </mat-card>

   
        
        
        
        
        
        
        
        
        </div>




</div>


