<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="flex-container" >

    <mat-card class="input-card" >

        <mat-card-header class="welcomeheader">
            <mat-card-title> Find your capacity </mat-card-title>
            <mat-card-subtitle>Some data is needed to perform the calculation. Knowing what Q will be run through the separator and what interval the
                <br> effluent concentraiton should be in yield suggestions of required separator capacities.
            </mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">

        <mat-card-content>
 
            <div>
                <form [formGroup]="theInput" (submit)="create_graph()" class="form-content">  
                    
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Volumetric flowrate Q [m3/h] </mat-label>
                        <input type="number" matInput formControlName="desiredQ" required>
                    </mat-form-field>
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Acceptable lowest conc. in %, must be in the span of effluent concentrations from spintest</mat-label>
                        <input type="number" matInput formControlName="Effluent_conc_low" required>
                    </mat-form-field>

                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Acceptable highest conc. in %, must be in the span of effluent concentrations from spintest </mat-label>
                        <input type="number" matInput formControlName="Effluent_conc_high" required>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" >
                       Create Graph
                    </button>


                </form>
            </div>
        
        </mat-card-content>
    </mat-card>

    <div *ngIf="show_results" ><!--Here we should have a *ngIf="show_results"-->
        <mat-card class="input-card" ><!--Card that appears only when button "Create Graph" is pressed-->

            <mat-card-header class="welcomeheader">
                <mat-card-title> Recommended capacity plotted against separation capacity </mat-card-title>
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
    
                <div>
                    Below here is the canvas:
                    <div class="chart-wrapper">
                        <canvas baseChart 
                            [datasets]="lineChartData" 
                            [labels]="lineChartLabels" 
                            [options]="lineChartOptions"
                            [colors]="lineChartColors" 
                            [legend]="lineChartLegend" 
                            [chartType]="lineChartType" 
                            [plugins]="lineChartPlugins">
                   
                        </canvas>
                    </div>
                    
                 
                </div>
            
            </mat-card-content>
        </mat-card>
    </div>
</div>


