<div>
    <mat-toolbar class="mainToolbar"> 
      
        <mat-toolbar-row class="mainRow">        
            <a class='nav-link' routerLinkActive='active' [routerLink]="['/welcome']">Home</a>
            <a class='Title-text'>{{title}}</a>
            <a class='nav-link' routerLinkActive='active' [routerLink]="['/navigator-page']">Calculate</a></mat-toolbar-row>

        <mat-toolbar-row class="mainRow">
            <div class="Small_note">
                
                <div *ngIf="isSpintestdataSetup()" class="done">Spintest data has been succesfully submitted</div>
                <div *ngIf="isEquipmentDataSetup()" class="done">Equipment data has been succesfully submitted</div>
                <div *ngIf="isSpintestdataSetup()==false" class="not_done">Spintest data has not yet been setup</div>
                <div *ngIf="isEquipmentDataSetup()==false" class="not_done">Equipment data has not yet been setup</div>
 
            </div>
        </mat-toolbar-row>


    </mat-toolbar>

<div class="flex-container">
    <router-outlet></router-outlet>
</div>

</div>

