<p>I work too!</p>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Explore Extended</mat-card-title>
      <mat-card-subtitle>Initiate Spintest Calculations</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./explore-image.png" alt="Photo of spintest">
    <mat-card-content>
      <p>
        Here you can make more advanced spintest calculations.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>