



<div class="flex-container" >
    
    <div fxFlex="50%">
        <mat-card class="input-card" style="text-align:center">
            <mat-card-header class="InputFormHeader">
                <div mat-card-avatar class="Research-icon-image"></div>
                <mat-card-title >Explore Extended</mat-card-title>
                <mat-card-subtitle>Initiate Spintest Calculations</mat-card-subtitle>
            </mat-card-header>

            

            <mat-card-content>
                <p>
                     Here you can make more advanced spintest calculations.
                     
                    <label>
                        Name:
                        <input type="text" [formControl]="name">
                    </label>
                    
                </p>
            </mat-card-content>

            <mat-card-actions>

                <button mat-button routerLink="/input-form" routerLinkActive="active"> 
                    Submit
                </button>
        
            </mat-card-actions>
        </mat-card>
</div>
</div>
