


.label{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: larger;
    
    /* Complete later to make it look better*/
}
.form-label{

    display:flex;
    flex-direction:row;
    text-align: center;
   
  

}

.Paragraph{
    font-size: x-large;
    padding-top: 25px;
}

.form-field{
    display: flex;
    flex-direction: column;
}

.input-table{
 
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input-table-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Datatable-div{

    padding-top:50px;
}
.Datatable{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    border: collapse;
}
.Datatable-rows{
    font-size: medium;
}


.Datatable-headers{
    padding-top: 12px;
    padding-bottom: 12px;
    border-style:outset;
    text-align: center;
    background-color: rgb(160, 161, 170);
    color: white;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.spacious_field{
    padding-top: 12px;
    padding-bottom: 12px;

}
