



<div class="flex-container" >
    <div fxFlex="50%"><!--Controls card width-->
        <mat-card class="input-card" >

            <mat-card-header class="welcomeheader">
                
                <mat-card-title>Process Property Form</mat-card-title>
                <mat-card-subtitle>Some data is needed to perform the calculation. Enter some physical properties of the phases, in SI units.</mat-card-subtitle>
            </mat-card-header>
          
            <mat-card-content>
            <div class="card-content">
                <div class="form-content">
                    <form [formGroup]="fluid_properties" (submit)="submit()">

                        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">

                        <mat-form-field class="form-field" appearance="fill">
                            <mat-label> Density of the heavy phase, often the solid </mat-label>
                            <input type="number" matInput formControlName="densityParticle" required>
                        </mat-form-field>
                        
                        <mat-form-field class="form-field" appearance="fill">
                            <mat-label> Density of the light phase </mat-label>
                            <input type="number" matInput formControlName="densityFeed" required>
                        </mat-form-field>

                        <mat-form-field class="form-field" appearance="fill">
                            <mat-label> Kinematic viscosity of the lightest substance </mat-label>
                            <input type="number" matInput formControlName="kinviscosity" required>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit">
                         Submit
                        </button>
                    </form>
                </div>
             </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="input-card">
            <mat-card-header class="welcomeheader">
               
                <mat-card-title>Spin Test Data</mat-card-title>
                <mat-card-subtitle>Some data is needed to perform the calculation. Enter information about your spintest.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="card-content">
                    <div class="form-content">
                        <form [formGroup]="fluid_properties" (submit)="submit()">
    
                            <img mat-card-image src="assets/images/3-test-tubes.jpg" alt="Photo of spintest">
                        <mat-form-field class="form-field" appearance="fill">
                            <mat-label> Nr of starts </mat-label>
                                <input matInput formControlName="Kinematic_Viscosity" required>
                        </mat-form-field>        
                        </form>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>
