


<div class="flex-container" >

    <mat-card class="input-card" ><!--Card with input field for fluid properties-->

        <mat-card-header class="welcomeheader" >
            <mat-card-title>Enter your desired Q</mat-card-title>
            <mat-card-subtitle>The spintest you ran will be used to find 4 different flowrates you can run through your separator 
                <br> that corresponds to the given separation efficencies yielded by spinning samples in a centrifuge.</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="assets/images/fluid-image.jpg" alt="Photo of spintest">

        <mat-card-content>
                      
            <div class="form-content">
                <form [formGroup]="your_KQ" (submit)="submit_your_KQ()">  
                    
                    <mat-form-field class="form-field" appearance="fill">
                        <mat-label> Capacity KQ</mat-label>
                        <input type="number" matInput formControlName="KQ">
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" >
                       Submit your KQ
                    </button>


                </form>
            </div>
        
        </mat-card-content>
    </mat-card>
</div>

